###> docker container ###
SERVER_NAME=localhost
HTTP_PORT=80
HTTPS_PORT=443
HTTP3_PORT=443

MYSQL_VERSION=8.4.7
MYSQL_CHARSET=utf8mb4
MYSQL_DATABASE=app
MYSQL_ROOT_PASSWORD=!ChangeMe!
MYSQL_USER=app
MYSQL_PASSWORD=!ChangeMe!
PHPMYADMIN_PORT=8080

CADDY_MERCURE_URL=http://php/.well-known/mercure
CADDY_MERCURE_PUBLIC_URL=https://localhost:443/.well-known/mercure
CADDY_MERCURE_JWT_SECRET=!ChangeThisMercureHubJWTSecretKey!
###> docker container ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=!ChangeMe!
APP_NAME=
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:3306/${MYSQL_DATABASE}?serverVersion=${MYSQL_VERSION}&charset=${MYSQL_CHARSET}"
###< doctrine/doctrine-bundle ###
